*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-box-1: #054988;
    --color-box-2: #8a2785;
}

.box1{
    background-color: var(--color-box-1);
    width: 20rem;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2{
    background-color: var(--color-box-2);
    width: 20rem;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*------ GRID ------*/

/*Propiedades para el papá de las cajitas*/
.gridbox{
    display: grid;
    grid-template-columns: repeat(6,1fr); /*Definiendo las columnas que habrá*/
    grid-template-rows: auto;
    /*Marge de separación entre cajitas*/
    gap:1rem;
}

.gridbox2{
    display: grid;
    grid-template-columns: repeat(6,1fr); /*Definiendo las columnas que habrá*/
    grid-template-rows: repeat(4,1fr);
    /*Marge de separación entre cajitas*/
    gap:1rem;
}


/*CONSULTA: ¿Por qué se usa una sola gridbox para ambos divs de gridbox diferentes?*/

/*Modificando cada cajita*/
.gridbox .box1:nth-child(1){
    grid-area: 1/1/2/3;
    width: 100%;
}

.gridbox .box1:nth-child(3)
{
    grid-area: 1/4/2/7;
    /*Comienza en f1 / Columna 4 / Termina en f(2-1) / Termina en Columna (7-1) */
    width: 100%; /*Para que el color de la cajita abarque en su totalidad la caja*/
}

/*"2DO GRID*/
.gridbox2 .box2:nth-child(2){
    grid-area: 1/2/2/6;
    width: 100%;
}

.gridbox2 .box2:nth-child(3)
{
    grid-area: 1/6/4/7;
    height: 100%;
}