*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --backg-color: #313E51;
    --button-color: #A529F5;
    --options-color: #3C4C67;
    --font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--backg-color);
    color: #dbdada;
}

.container-pregunta
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.preguntaResponder{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.radio-texto{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.radio-texto input[type="radio"] {
    margin-right: 1rem;
}